{% extends "base.html" %} 

{% block content %}
<link href="https://fonts.googleapis.com/css2?family=Mukta&display=swap" rel="stylesheet">
<link rel="stylesheet" href="static/css/home.css">


    <div class="home">
        <div class="description">
            <h1>Hey there!</h1>
            <p>I am a Senior Student and I am passionate with 
            programming and designing!
            </p>
        </div>
    </div>
    
    
    
    <div class="frame">
        <button class="custom-btn btn-3"><span>Read More</span></button>
    </div>
{% endblock %}